/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@font-face {
  font-family: "worath";
  src: url("../fonts/Worath.otf") format("opentype");
}
* {
  padding: 0;
  margin: 0;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
}

body {
  color: black;
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-image: url("../img/background.svg");
  overflow-x: hidden;
}

nav {
  font-size: 1.5rem;
}

.nav-desk {
  position: relative;
  left: -100%;
}
nav ul {
  width: 100vw;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: worath;
}

/* nav li{
  margin-top: 1rem;
} */

nav a {
  height: 100%;
  padding: 0 2rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-color: green;
  text-underline-offset: 0.5rem;
}
nav li:last-child {
  margin-left: auto;
}

.sidebar {
  width: 100%;

  position: fixed;
  top: 0;
  right: -100%;
  font-family: Chakra Petch;
  height: 100vh;
  z-index: 999;
  background-image: url("../img/background.svg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: right 0.3s ease;
}

.sidebar li:first-child {
  margin-left: auto;
}
.sidebar li:last-child {
  margin-left: auto;
  margin-right: auto;
}

.sidebar.open {
  right: 0;
}

.sidebar a {
  width: 100%;
  text-align: center;
}

.menu-button {
  display: none;
}

@media (max-width: 800px) {
  .main-logo {
    margin-left: 1.25rem;
    margin-top: 1.25rem;
  }
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

.titlesection {
  margin-bottom: 1vh;
}

.img1 {
  position: relative;
  left: 87%;
  top: 2em;
}
.head {
  position: relative;
  top: 1.5em;
}

.reg {
  /* background-color: #118223;
  color: #ffffff;
  border-radius: 10px;
  width: 55%;
  height: 2.5em;
  opacity: 0.77;*/

  position: relative;
  top: 14vh;
  display: flex;
  color: #11e332;
  font-family: Worath;
  font-size: 6rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}
.mpg {
  display: block;
}

.reg-btn-area {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
  margin-bottom: 20vh;
}
/* .reg img{
  width : 33%;
  height:  auto;
  margin-top: 3vw;
} */

/* .frontp{
  color: #118223;
  font-family: Worath;
  font-size: 25px;
  font-weight: 20 ;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
} */

.aboutsection {
  /* color: #118223;
  font-family: worath;
  font-size: 20px; */
  margin-top: 2vw;
  margin-bottom: 5vw;
  line-height: 22px;
  letter-spacing: 0em;
  position: relative;
  top: 3.9em;
  display: flex;
  justify-content: flex-start;
  margin-left: 3vw;
  letter-spacing: 0.01rem;
  /* text-align: left; */
}
.aboutsection-text {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  height: auto;
  justify-content: center;
}
.aboutsection-header {
  color: #11e332;
  font-family: worath;
  font-size: 2rem;
  margin-bottom: 2rem;
  /* text-align: left; */
}
#floating-diamond {
  position: relative;
}
.aboutsection-content {
  color: white;
  line-height: 2.5rem;
  /* font-family: Playfair Display; */
  font-size: 2rem;
}
/* .aboutsection-image{
  width: 25vw;
  height: auto;
  display: flex;
  justify-self: start;
} */
.aboutsection-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: auto;
}
.aboutsection-mobileimg {
  display: none;
}
.small-diamond {
  display: none;
}
/* .aboutsection-image1{
  width: 25vw;
} */
@media only screen and (max-width: 768px) {
  .small-diamond {
    display: block;
  }
  .aboutsection {
    flex-direction: column;
    align-items: center;
  }
  .aboutsection-text {
    text-align: center;
  }
  .aboutsection-header {
    font-size: 1.3rem;
  }
  .aboutsection-content {
    font-size: 1.1rem;
    /* font-family: Playfair Display; */
  }
  .aboutsection-image {
    margin-bottom: 2vw;
    margin-right: auto;
  }
  .aboutsection-image1 {
    display: none;
  }
  .aboutsection-mobileimg {
    display: block;
  }
}

.info {
  color: white;
  position: relative;
  top: 4em;
  left: 0.4em;
}

/* .img3{
  position: relative;
  right: 35%;
  top: 1.5em;

} */

.img2 {
  position: relative;
  top: 6em;
  /* very small diamond */
}

.logo {
  position: relative;
  bottom: 1.5em;
  left: 0.5em;
  width: 54.162px;
  height: 59.475px;
  flex-shrink: 0;

  /* increase size */
}
/*



*/
@media only screen and (max-width: 768px) {
  .prizesLabel {
    position: relative;
    display: block;
    margin-top: 8vw;
    margin-left: auto;
    margin-right: auto;
  }

  .prizesLabel img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: auto;
  }

  .prizesLabel p {
    font-family: worath;
    color: white;
    font-size: 26px;
    line-height: 35px;
    letter-spacing: 0.05em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 15%);
  }

  .gridContainer {
    display: block;
    position: relative;
  }

  .debrisImage {
    width: 35vw;
    height: auto;
    margin: 0;
    margin-top: 3vh;
    position: relative;
    margin-left: auto;
    float: right;
    z-index: -2;
  }

  .boxVector {
    margin-top: 5vh;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    height: auto;
    border: 0px solid #00ff57;
    z-index: -1;
  }

  .prizePool {
    padding-right: 0;
    position: absolute;
    font-family: Chakra Petch;
    left: 50%;
    transform: translateX(-50%);
  }

  .prizePool p {
    margin: 0;
  }

  #currencyLabel {
    margin-top: 10vh;
    font-size: 7vw;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #00ff57;
  }

  #currencyValue {
    margin: 0;
    font-size: 15vw;
    font-weight: 700;
    line-height: 86px;
    letter-spacing: 0em;
    text-align: left;
    color: #00ff57;
  }

  #prizePoolLabel {
    font-size: 9vw;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-bottom: 2vh;
  }

  #miscLabel {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
  }

  .conductedBy,
  .logos {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 50vh;
    z-index: 1;
  }

  .conductedByLabel img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: auto;
  }

  #debris2 {
    width: 30vw;
    height: auto;
    position: absolute;
    margin-right: auto;
    right: 70%;
    z-index: -2;
  }

  .logos {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
  }

  .logos .debrisImage {
    display: none;
  }
  .ieeecslogo {
    width: 50%;
    height: auto;
  }

  .vitlogo {
    margin-top: 2vh;
  }

  .FAQsection {
    position: relative;
    top: 50vh;
  }

  #diamond-design {
    width: 40vw;
    height: auto;
    position: absolute;
    right: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .prizesLabel {
    position: relative;
    display: none;
    margin-left: auto;
    margin-right: auto;
  }

  .prizesLabel img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 20vw;

    margin-top: 2vw;
    margin-bottom: 2vw;
    height: auto;
  }

  .prizesLabel p {
    font-family: worath;
    color: white;
    font-size: 3vw;
    line-height: 35px;
    letter-spacing: 0.05em;
    margin-top: 1vh;
    position: absolute;
    left: 50%;

    margin-top: 2vw;
    margin-bottom: 2vw;
    transform: translate(-50%, 15%);
  }

  .gridContainer .debrisImage {
    display: none;
  }

  .prizePool {
    display: none;
  }

  #debris2 {
    display: none;
  }
  .conductedBy,
  .logos {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }

  .conductedByLabel img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 20vw;

    margin-top: 3vw;
    margin-bottom: 3vw;
    height: auto;
  }

  .logos {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 30vh;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
  }

  .logos img {
    width: 25vw;
  }

  .logos .debrisImage {
    width: 20vw;
    height: auto;
  }

  .FAQsection {
    position: relative;
    top: 80vh;
  }

  #diamond-design {
    width: 40vw;
    height: auto;
    position: absolute;
    right: 0%;
  }
}

/*







*/

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

#background1 {
  background-image: url("../img/background.svg");
}

#background2 {
  background-image: url("../img/background.svg");
}

.faq {
  width: 70vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
  text-align: center;
}
.faq img {
  width: 30%;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .reg {
    position: relative;
    font-size: 4rem;
    text-align: center;
    margin-left: 2vw;
    margin: 3vh 3vh 3vh 3vh;
  }
  .reg-btn-area {
    margin-bottom: 14vh;
  }
  .reg-btn-area img {
    width: 60vw;
  }
  .faq img {
    width: 50%;
    height: auto;
  }
}
.faq-item {
  margin: 4vw;
  border-radius: 5px;
  overflow: hidden;
}
.faq-title {
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.05em;
  text-align: left;
  background: #06bd2e73;
}
.question {
  /* background-color: lightgreen; */
  position: relative;
  padding: 9px;
  display: flex;
  color: white;
  background: linear-gradient(
      0deg,
      rgba(17, 227, 50, 0.35),
      rgba(17, 227, 50, 0.35)
    ),
    linear-gradient(0deg, rgba(176, 223, 183, 0.3), rgba(176, 223, 183, 0.3));

  justify-content: space-between;
  align-items: center;
  border: 3px solid #11e33226;
  font-weight: bold;
  z-index: 1;
}
.arrow-icon {
  width: 20px;
  height: 20px;
}
.drawing {
  width: 100%;
  height: 300px;
}
.contact-us {
  font-family: "Playfair Display", sans-serif;
  font-size: 2.25em;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  background: linear-gradient(
    90deg,
    #03ff58 0%,
    #53ca7c 31.42%,
    #149b42 62.74%,
    #93f2b3 103.03%,
    #09a73f 103.03%
  );
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 12vh;
  color: transparent;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons img {
  padding: 2vw;
  margin-top: 1vw;
  margin-left: 2vw;
  margin-right: 2vw;
  width: 4vw;
}

.drawing img {
  max-width: 100%;
  height: auto;
}

@keyframes fadeInDown {
  from {
    transform: translateY(-30);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fadeOutUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
  }
}

.answer {
  display: none;
  position: relative;
  opacity: 0.6;
  background: #40c555a6;

  color: white;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  z-index: 0;
}

.answer a {
  color: white;
}

.contact-section {
  width: 150px;
  height: 33px;
  position: relative;
  top: 32px;
  left: 88px;
  font-family: "Worath", sans-serif;
  font-weight: 400;
}

.contact-section h2 {
  font-size: 34px;
  line-height: 33.08px;
  text-align: center;
  background: linear-gradient(
    #11e332,
    #35ff55,
    #4cda62,
    #6ad07a,
    #40c555,
    #00ff29
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.contact-btn {
  background: linear-gradient(
    #11e332,
    #35ff55,
    #4cda62,
    #6ad07a,
    #40c555,
    #00ff29
  );
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
